@model Inventory_MS.Models.User

@{
    ViewData["Title"] = "Login";
}
<div class="center">
    <h1>Login</h1>
</div>

    <form class="border border-secondary rounded w-50"  asp-action="Login" style="margin-top:10%">
        <div class="p-3">
            
            <div class="container center">
                <div class="form-group">
                    <label asp-for="UserID" class="control-label"></label>
                    <input asp-for="UserID" type="text" class="form-control w-50" required><br>
                    <span asp-validation-for="UserID" class="text-danger"></span>
                </div>
                <div class="form-group">
                        <label asp-for="Password"><b>Password:&nbsp;</b></label>
                        <input asp-for="Password" class="form-control w-50" type="password" required><br>
                        <span asp-validation-for="UserID" class="text-danger">@{var data = ViewData["Message"];} </span>
                    </div>
                <div class="form-group">
                            <input type="submit" value="Login" class="btn btn-primary" />
                        </div>
                    </div>
            <div class="container center">
                <span>Forgot <a href="#">password?</a></span>
            </div>
                </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

